<app-header-navbar></app-header-navbar>
<div class="main">
  <h1>Novo Cliente</h1>
  <form class="form">

    <div class="row">
      <div class="col">
        <label for="nome" class="form-label">Nome*</label>
        <input type="text"
               id="nome"
               name="nome"
               class="form-control"
               [(ngModel)]="cliente.nome"
               required>
      </div>
      <div class="col">
        <label for="cpf" class="form-label">CPF*</label>
        <input type="text"
               id="cpf"
               name="cpf"
               class="form-control"
               [(ngModel)]="cliente.cpf"
               [mask]="cpfMask"
               required>
      </div>
    </div>


    <br/>
    <h4>Endereço</h4>
    <div class="mb-3">
      <label for="cep">CEP*
        <button (click)="buscarEnderecoPeloCEP()" class="btn btn-link">Buscar CEP</button>
      </label>
      <input type="text"
             id="cep"
             name="cep"
             class="form-control"
             [(ngModel)]="cliente.endereco.cep"
             [mask]="cepMask"
             required>
    </div>


    <div class="mb-3">
      <label for="logradouro">Logradouro*</label>
      <input type="text"
             id="logradouro"
             name="logradouro"
             class="form-control"
             [(ngModel)]="cliente.endereco.logradouro"
             required>
    </div>


    <div class="mb-3">
      <label for="bairro">Bairro*</label>
      <input type="text"
             id="bairro"
             name="bairro"
             class="form-control"
             [(ngModel)]="cliente.endereco.bairro"
             required>
    </div>

    <div class="row">
      <div class="col">
        <label for="cidade" class="form-label">Cidade*</label>
        <input type="text"
               id="cidade"
               name="cidade"
               class="form-control"
               [(ngModel)]="cliente.endereco.cidade"
               required>
      </div>
      <div class="col">
        <label for="uf" class="form-label">UF*</label>
        <input type="text"
               id="uf"
               name="uf"
               class="form-control"
               [(ngModel)]="cliente.endereco.uf"
               required>
      </div>
    </div>


    <div class="mb-3">
      <label for="complemento">Complemento</label>
      <input type="text"
             id="complemento"
             name="complemento"
             class="form-control"
             [(ngModel)]="cliente.endereco.complemento"
             required>
    </div>


    <h4>Telefones
      <button (click)="adicionarInputTelefone()" class="btn btn-link">Adicionar Telefone</button>
    </h4>

    <div *ngFor="let telefone of cliente.telefones; index as i">
      <div class="mb-3">
        <label for="tipoTelefone{{i}}">Tipo Telefone*</label>
        <select id="tipoTelefone{{i}}" name="tipoTelefone{{i}}"  class="form-select" size="3" aria-label="size 3 select example"
                [(ngModel)]="telefone.tipoTelefone"
                required>
          <option value="RESIDENCIAL">RESIDENCIAL</option>
          <option value="CELULAR">CELULAR</option>
          <option value="COMERCIAL">COMERCIAL</option>

        </select>
      </div>

      <div class="mb-3">
        <label for="numeroTelefone{{i}}">Número*</label>
        <input type="text"
               id="numeroTelefone{{i}}"
               name="numeroTelefone{{i}}"
               class="form-control"
               [(ngModel)]="telefone.numero"
               [mask]="recuperarMascaraTelefone(telefone)"
               required>
      </div>
    </div>

    <h4>Emails
      <button (click)="adicionarInputEmail()" class="btn btn-link">Adicionar Email</button>
    </h4>
    <div class="mb-3">
      <div *ngFor="let email of cliente.emails; index as i">
        <label for="email{{i}}">Email*</label>
        <input type="email"
               class="form-control"
               id="email{{i}}"
               name="email{{i}}"
               [(ngModel)]="email.email"
               required>
      </div>
    </div>

    <app-error [erros]="erros"></app-error>
    <button class="btn btn-success" (click)="salvar()">Salvar</button>
    <button class="btn btn-secondary" (click)="voltar()">Voltar</button>


  </form>
</div>

