<app-header-navbar></app-header-navbar>
<div class="main">
  <h1>Visualizar Cliente</h1>
  <form class="form">

    <div class="row">
      <div class="col">
        <label for="nome" class="form-label">Nome*</label>
        <input type="text"
               id="nome"
               name="nome"
               class="form-control"
               [(ngModel)]="clienteSelecionado.nome"
               disabled>
      </div>
      <div class="col">
        <label for="cpf" class="form-label">CPF*</label>
        <input type="text"
               id="cpf"
               name="cpf"
               class="form-control"
               [(ngModel)]="clienteSelecionado.cpf"
               [mask]="cpfMask"
               disabled>
      </div>
    </div>

    <br/>
    <h4>Endereço</h4>
    <div class="mb-3">
      <label for="cep">CEP*
      </label>
      <input type="text"
             id="cep"
             name="cep"
             class="form-control"
             [(ngModel)]="clienteSelecionado.endereco.cep"
             [mask]="cepMask"
             disabled>
    </div>


    <div class="mb-3">
      <label for="logradouro">Logradouro*</label>
      <input type="text"
             id="logradouro"
             name="logradouro"
             class="form-control"
             [(ngModel)]="clienteSelecionado.endereco.logradouro"
             disabled>
    </div>


    <div class="mb-3">
      <label for="bairro">Bairro*</label>
      <input type="text"
             id="bairro"
             name="bairro"
             class="form-control"
             [(ngModel)]="clienteSelecionado.endereco.bairro"
             disabled>
    </div>

    <div class="row">
      <div class="col">
        <label for="cidade" class="form-label">Cidade*</label>
        <input type="text"
               id="cidade"
               name="cidade"
               class="form-control"
               [(ngModel)]="clienteSelecionado.endereco.cidade"
               disabled>
      </div>
      <div class="col">
        <label for="uf" class="form-label">UF*</label>
        <input type="text"
               id="uf"
               name="uf"
               class="form-control"
               [(ngModel)]="clienteSelecionado.endereco.uf"
               disabled>
      </div>
    </div>


    <div class="mb-3">
      <label for="complemento">Complemento</label>
      <input type="text"
             id="complemento"
             name="complemento"
             class="form-control"
             [(ngModel)]="clienteSelecionado.endereco.complemento"
             disabled>
    </div>


    <h4>Telefones
    </h4>

    <div *ngFor="let telefone of clienteSelecionado.telefones; index as i">
      <div class="mb-3">
        <label for="numeroTelefone{{i}}">Número*</label>
        <input type="text"
               id="numeroTelefone{{i}}"
               name="numeroTelefone{{i}}"
               class="form-control"
               [(ngModel)]="telefone.numero"
               [mask]="recuperarMascaraTelefone(telefone)"
               disabled>

      </div>

      <div class="mb-3">
        <label for="tipoTelefone{{i}}">Tipo Telefone*</label>
        <select id="tipoTelefone{{i}}" name="tipoTelefone{{i}}"  class="form-select" size="3" aria-label="size 3 select example"
                [(ngModel)]="telefone.tipoTelefone"

                disabled>
          <option value="" selected disabled hidden>Escolha uma opção</option>
          <option value="RESIDENCIAL">RESIDENCIAL</option>
          <option value="CELULAR">CELULAR</option>
          <option value="COMERCIAL">COMERCIAL</option>

        </select>
      </div>

    </div>

    <h4>Emails
    </h4>
    <div class="mb-3">
      <div *ngFor="let email of clienteSelecionado.emails; index as i">
        <label for="email{{i}}">Email*</label>
        <input type="email"
               class="form-control"
               id="email{{i}}"
               name="email{{i}}"
               [(ngModel)]="email.email"
               disabled>
      </div>
    </div>

    <button class="btn btn-secondary" (click)="voltar()">Voltar</button>


  </form>
</div>

