<div class="main">
  <form class="formLogin">

    <h1>Autenticação</h1>
    <div class="mb-3">
      <label for="login" class="form-label">Login</label>
      <input type="text" class="form-control" id="login" name="login" placeholder="Login" [(ngModel)]="login"/>

    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" [(ngModel)]="password"/>
    </div>

    <button type="submit" class="btn btn-success" (click)="autenticar()">Acessar</button>

    <app-error [erros]="erros"></app-error>
  </form>


</div>


